<mat-toolbar color="primary">
  <mat-toolbar-row class="max-content">
    <span>Blackforestsolution</span>
    <span class="space"></span>
    <button mat-button class="nav-options">
      <mat-icon>perm_identity</mat-icon>
      Login
    </button>
    <button mat-button class="nav-options">
      <mat-icon>how_to_reg</mat-icon>
      Anmelden
    </button>
    <button mat-icon-button (click)="this.openSidenavEvent.emit()" class="sidenav">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- sidenav.toggle() -->
  </mat-toolbar-row>
</mat-toolbar>
