.space {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 100%;
}

.max-content {
  max-width: 1200px;
  margin: auto;
}

@media screen and (min-width: 37.5em) {
  .sidenav {
    display: none;
  }
}

@media screen and (max-width: 37.5em) {
  .nav-options {
    display: none;
  }
}
